[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/cryptopp-cmake"]
	path = extern/cryptopp-cmake
	url = https://github.com/abdes/cryptopp-cmake.git
