[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/cryptopp-cmake"]
	path = extern/cryptopp-cmake
	url = https://github.com/abdes/cryptopp-cmake.git
[submodule "extern/LevelDB"]
	path = extern/LevelDB
	url = https://github.com/google/leveldb.git
